{% extends "rest/_layout" %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>Github Repos</h1>

                {% set response = craft.rest.request({
                    url: 'https://api.github.com/user/repos',
                    verb: 'get',
                    format: 'json',
                    query: {
                        sort: 'pushed',
                        direction: 'desc',
                    },
                    api: 'github',
                }).send() %}

                {% if response.success %}

                    {% set data = response.data %}

                    {% for repo in data %}
                        <hr>

                        <div class="row">
                            <div class="col-md-7">
                                <h3>
                                    <a href="{{ repo.html_url }}">{{ repo.name }}</a>
                                </h3>

                                <p>{{ repo.description }}</p>

                                <p>Updated: {{ repo.updated_at|date }}</p>

                                <p>
                                    <a href="{{ repo.homepage }}">{{ repo.homepage }}</a>
                                </p>

                                <p>
                                    {% if repo.private %}
                                        <span class="label label-warning">Private</span>
                                    {% endif %}
                                    {% if repo.fork %}
                                        <span class="label label-default">Fork</span>
                                    {% endif %}
                                </p>
                            </div>

                            <div class="col-md-5">
                                <ul class="list-unstyled">

                                    {% if repo.language %}
                                        <li><strong>{{ repo.language }}</strong></li>
                                    {% endif %}

                                    <li>{{ repo.forks }} Forks</li>
                                    <li>{{ repo.open_issues }} Open issues</li>
                                    <li>{{ repo.watchers_count }} Watchers</li>
                                    <li>{{ repo.stargazers_count }} Stargazers</li>
                                </ul>
                            </div>
                        </div>
{#
                        <pre>
                            {{ dump(repo) }}
                        </pre> #}
                    {% endfor %}


                {% else %}
                    {% include 'rest/_error' with { response: response } %}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
