{% extends "rest/_layout" %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>RunKeeper Activities</h1>

                {% set response = craft.rest.request
                    .api('runkeeper')
                    .url('fitnessActivities')
                    .send() %}

                {% if response.success %}
                    {% set data = response.data %}
                    {% set activities = data.items %}

                    {% for activity in activities %}
                        <hr>

                        <div class="row">
                            <div class="col-md-6 text-center">

                                <h3>{{ (activity.total_distance / 1000)|round(2) }} km</h3>
                                <p class="lead">{{ activity.type }}</p>
                            </div>
                            <div class="col-md-6">

                                <ul>
                                    <li>Total Distance: {{ activity.total_distance }}</li>
                                    <li>Duration: {{ activity.duration }}</li>
                                    <li>Total Calories: {{ activity.total_calories }}</li>
                                    <li>Date: {{ activity.start_time }}</li>
                                    <li>Entry Mode: {{ activity.entry_mode }}</li>
                                </ul>
                            </div>
                        </div>


                    {% endfor %}

                {% else %}
                    {% include 'rest/_error' with { response: response } %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
