{% extends "rest/_layout" %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>Twitter Places</h1>

                {% set placesResponse = craft.rest.request
                    .api('twitter')
                    .url('geo/search.json')
                    .query({
                        accuracy: 0,
                        query: "Grenoble",
                        granularity: "neighborhood"
                    })
                    .send() %}


                {% if placesResponse.success %}

                    {% set place = placesResponse.data.result.places|first %}

                    <h2>Tweeted from {{ place.full_name }} — {{ place.id }}</h2>

                    {% set tweetsResponse = craft.rest.request
                        .api('twitter')
                        .url('search/tweets.json')
                        .query({
                            q: 'place:'~place.id
                        })
                        .send() %}

                    {% if tweetsResponse.success %}

                        {% set tweets = tweetsResponse.data.statuses %}

                        {% for tweet in tweets %}

                            <hr />

                            {{ tweet.text }}

                        {% endfor %}
                    {% else %}
                        Couldn't find tweets
                    {% endif %}

                {% else %}
                    {% include 'rest/_error' with { response: placesResponse } %}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
