{% extends "rest/_layout" %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>Google Calendar</h1>

                {% set response = craft.rest.request
                    .api('googlecalendar')
                    .url('users/me/calendarList')
                    .send() %}

                {% if response.success %}

                    {% set data = response.data %}

                    {% set calendars = data.items %}

                    {% for calendar in calendars %}
                        <hr>

                        <h3>{{ calendar.summary }}</h3>
                        {% if calendar.description is defined %}
                            <p>{{ calendar.description }}</p>
                        {% endif %}
                        <p>{{ calendar.timeZone }}</p>
                        {# <pre>{{ dump(calendar) }}</pre> #}
                        <p>
                            <a href="https://www.google.com/calendar/embed?src={{ calendar.id }}&ctz={{ calendar.timeZone }}" target="_blank" class="btn btn-primary">Open Calendar</a>
                        </p>
                    {% endfor %}

                {% else %}
                    {% include 'rest/_error' with { response: response } %}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
