{% extends "rest/_layout" %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>Slack</h1>

                <hr>

                {% set response = craft.rest.request
                    .api('slack')
                    .url('auth.test')
                    .send() %}

                {% if response.success %}

                    {% set data = response.data %}

                    <pre>{{ dump(data) }}</pre>
                {% else %}
                    {% include 'rest/_error' with { response: response } %}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
