{% extends "rest/_layout" %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>Twitter Search <small> for “craftcms”</small></h1>

                <hr>

                {% set response = craft.rest.request
                    .api('twitter')
                    .url('search/tweets.json')
                    .query({
                        q: 'craftcms'
                    })
                    .send() %}

                {% if response.success %}

                    {% set tweets = response.data.statuses %}

                    {% for tweet in tweets %}
                        <div class="media">
                            <a class="media-left" href="#">
                                <img src="{{ tweet.user.profile_image_url }}" alt="...">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    {{ tweet.user.name }}

                                    <small>@{{ tweet.user.screen_name }}</small>
                                </h4>
                                {{ tweet.text }}
                            </div>
                        </div>
                    {% endfor %}

                {% else %}
                    {% include 'rest/_error' with { response: response } %}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
