{% extends "rest/_layout" %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                  <h1>REST <small>For Craft CMS</small></h1>
                </div>

                <h4>Usage</h4>
                <ul>
                    <li><a href="{{ url('rest/usage/simple-request') }}">Sending a simple request</a></li>
                    <li><a href="{{ url('rest/usage/saved-request') }}">Sending a saved request</a></li>
                    <li><a href="{{ url('rest/usage/extend') }}">Extending a saved request</a></li>
                </ul>

                <h4>Examples</h4>

                <ul>
                    <li><a href="{{ url('rest/examples/dribbble') }}">Dribbble</a></li>
                    <li><a href="{{ url('rest/examples/flickr') }}">Flickr</a></li>
                    <li><a href="{{ url('rest/examples/github') }}">Github</a></li>
                    <li><a href="{{ url('rest/examples/googlecalendar') }}">Google Calendar</a></li>
                    <li><a href="{{ url('rest/examples/linkedin') }}">LinkedIn</a></li>
                    <li><a href="{{ url('rest/examples/runkeeper') }}">RunKeeper</a></li>
                    <li><a href="{{ url('rest/examples/twitter-search') }}">Twitter Search</a></li>
                    <li><a href="{{ url('rest/examples/twitter') }}">Twitter Timeline</a></li>
                    <li><a href="{{ url('rest/examples/twitter-places') }}">Twitter Places</a></li>
                    <li><a href="{{ url('rest/examples/youtube-popular') }}">YouTube Popular Videos</a></li>
                    <li><a href="{{ url('rest/examples/youtube') }}">YouTube Search</a></li>
                    <li><a href="{{ url('rest/examples/weather') }}">Weather</a></li>
                </ul>

            </div>
        </div>
    </div>

{% endblock %}
