{% extends "_layouts/cp" %}

{% set title = provider.name %}

{% set crumbs = [
    { label: "Rest"|t, url: url('rest') },
    { label: "Authentications"|t, url: url('rest/authentications') }
] %}

{% set content %}

    <form method="post" accept-charset="UTF-8" data-saveshortcut>

        {{ getCsrfInput() }}

        <input type="hidden" name="action" value="rest/authentications/save">
        <input type="hidden" name="authenticationHandle" value="{{ provider.handle }}">

        <h2 class="first">Status</h2>

        <ul>
            <li>
                {% if authentication and authentication.token %}
                    <span class="status on"></span> {{ "Connected"|t }}
                {% else %}
                    <span class="status"></span><span class="light">{{ "Not Connected"|t }}</span>
                {% endif %}
            </li>
        </ul>


        <h2>Scopes</h2>

        {% if authentication and authentication.token %}
            <p>{{ provider.name }} is connected with the following scope:</p>
        {% endif %}

        {% set scopes = provider.getAvailableScopes() %}

        {% if scopes|length > 0 %}
            <ul>
                {% for scope in scopes %}
                    <li>
                        {% set disabled = false %}
                        {% set checked = false %}

                        {% if authentication %}

                            {% if authentication.token %}
                                {% set disabled = true %}
                            {% endif %}

                            {% for authenticationScope in authentication.scopes %}
                                {% if authenticationScope == scope %}
                                    {% set checked = true %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        <label><input type="checkbox" name="scopes[]" value="{{ scope }}"{{ checked ? ' checked="checked"' }}{{ disabled ? ' disabled="true"' }} /> &nbsp;{{ scope }}</label>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="buttons">
            {% if authentication and authentication.token %}
                <a class="btn" href="{{ actionUrl('rest/disconnect', { handle: provider.handle }) }}">Disconnect</a>
            {% else %}
                <input type="submit" class="btn submit" value="Connect" />
            {% endif %}
        </div>

    </form>
{#     {% if authentication %}
        <a class="btn small" href="{{ actionUrl('rest/disconnect', { handle: provider.handle }) }}">Disconnect</a>
    {% else %}
        <a class="btn submit" href="{{ actionUrl('rest/connect', { handle: provider.handle }) }}">Connect</a>
    {% endif %} #}

{% endset %}
