{% extends "rest/_layouts/cp" %}

{% set title = "REST"|t %}

{% set selectedTab = 'authentications' %}

{% set content %}

    <table id="fields" class="data fullwidth collapsible">
        <thead>
            <tr>
                <th scope="col">{{ "Name"|t }}</th>
                <th scope="col">{{ "Status"|t }}</th>
                <th scope="col">{{ "Scope"|t }}</th>
            </tr>
        </thead>

        <tbody>
            {% for provider in providers %}

                {% set authentication = null %}

                {% for item in authentications %}
                    {% if provider.handle == item.oauthProviderHandle %}
                        {% set authentication = item %}
                    {% endif %}
                {% endfor %}

                <tr>
                    <th>
                        <a href="{{ url('rest/authentications/'~provider.handle) }}">{{ provider.name }}</a>
                    </th>

                    <td class="nowrap">
                        {% if authentication and authentication.token %}
                            <span class="status on"></span> {{ "Connected"|t }}
                            {# &nbsp;
                            <a class="btn small" href="{{ actionUrl('rest/disconnect', { handle: provider.handle }) }}">Disconnect</a> #}
                        {% else %}
                            <span class="status"></span><span class="light">{{ "Not Connected"|t }}</span>
                            {# &nbsp;
                            <a class="btn small" href="{{ actionUrl('rest/connect', { handle: provider.handle }) }}">Connect</a> #}
                        {% endif %}
                    </td>

                    <td class="light">
                        {% if authentication and authentication.scopes|length > 0 %}
                            {{ authentication.scopes|join(', ') }}
                        {% endif %}
                    </td>

                </tr>

            {% endfor %}
        </tbody>
    </table>


{% endset %}
