{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% if isNew %}
  {% set title = "New Identity"|t %}
{% else %}
  {% set title = "Edit Identity"|t %}
{% endif %}

{% set content %}

    {% set token = identity.token %}

    {% if token.token %}
        <h2>Token</h2>

        <p>
            {{ "You are connected to {provider}."|t({provider: token.providerHandle}) }}
            <a href="{{ actionUrl('rest/disconnect', { identity: identity.id }) }}">Disconnect</a>.
        </p>

        <pre>{{ dump(token.token) }}</pre>
        <hr>
    {% endif %}

    <form method="post" accept-charset="UTF-8" data-saveshortcut>

        <input type="hidden" name="action" value="rest/saveIdentity">
        <input type="hidden" name="redirect" value="rest">

        {% if identity.id %}
          <input type="hidden" name="id" value="{{ identity.id }}">
        {% endif %}

        {% set providers = craft.oauth.providers %}

        {% set providerOptions = [] %}
        {% for provider in providers %}
            {% set providerOptions = providerOptions|merge([{ label: provider.name|t, value: provider.handle }]) %}
        {% endfor %}

        {{ forms.selectField({
            label: "Provider" | t,
            name: 'provider',
            options: providerOptions,
            value : identity ? identity.provider : null,
            first: true
        }) }}


        {% set scopesRows = [] %}
        {% for scope in identity.scopes %}
          {% set scopesRows = scopesRows|merge([{ scope: scope }]) %}
        {% endfor %}

        {{ forms.editableTableField({
          label: 'Scopes',
          id: 'scopes',
          rows: 4,
          textual: false,
          name: 'scopes',
          addRowLabel : 'Add scope',
          cols : {
            'scope' : {
                'heading' : 'Scope',
                'type'   : 'singleline'
            }
          },
          rows : scopesRows
        }) }}

        {% set paramsRows = [] %}
        {% for key, value in identity.params %}
          {% set paramsRows = paramsRows|merge([{ key: key, value: value }]) %}
        {% endfor %}

        {{ forms.editableTableField({
          label: 'Params',
          id: 'params',
          rows: 4,
          textual: false,
          name: 'params',
          addRowLabel : 'Add param',
          cols : {
            'key' : {
                'heading' : 'Key',
                'type'   : 'singleline'
            },
            'value' : {
                'heading' : 'Value',
                'type'   : 'singleline'
            }
          },
          rows : paramsRows
        }) }}

        <div class="buttons">
            {% if isNew %}
              <input type="submit" class="btn submit" value="{{ 'Create identity'|t }}">
            {% else %}
              <input type="submit" class="btn submit" value="{{ 'Update identity'|t }}">
            {% endif %}
        </div>
    </form>

{% endset %}