{% extends "rest/_layout" %}

{% import "_includes/forms" as forms %}

{% set title = "REST"|t %}
{% set identities = craft.rest.getIdentities %}
{% set selectedTab = 'identities' %}
{% set content %}


    {% if identities|length > 0 %}
        <table id="identities" class="data fullwidth collapsible">
            <thead>
                <tr>
                    <th scope="col">{{ "ID"|t }}</th>
                    <th scope="col">{{ "Provider"|t }}</th>
                    <th scope="col">{{ "Enabled"|t }}</th>
                    <th scope="col">{{ "Scopes"|t }}</th>
                    <th scope="col">{{ "Params"|t }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for identity in identities %}
                    <tr data-id="{{ identity.id }}" data-name="{{ identity.provider }}">
                        <td>{{ identity.id }}</td>
                        <td><a href="{{ url('rest/identities/'~identity.id) }}">{{ identity.provider }}</a></td>

                        <td>
                            {% if identity.token and identity.token.token %}
                                <span class="status enabled"></span>
                                Enabled
                            {% else %}
                                <span class="status"></span>
                                Disabled
                            {% endif %}
                        </td>
                        <td>
                            {{ identity.scopes|length }} scopes
                        </td>
                        <td>
                            {{ identity.params|length }} params
                        </td>
                        <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% set js %}
          new Craft.AdminTable({
              tableSelector: '#identities',
              noObjectsSelector: '#noidentities',
              deleteAction: 'rest/deleteIdentity'
          });
        {% endset %}
        {% includeJs js %}
    {% endif %}


    <div class="buttons">
        <a href="{{ url('rest/identities/new') }}" class="btn submit add icon">New identity</a>
    </div>
{% endset %}
