{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = authenticationProvider.name %}

{% set crumbs = [
    { label: "Rest"|t, url: url('rest') },
    { label: "Authentications"|t, url: url('rest/authentications') }
] %}

{% set content %}

    <form method="post" accept-charset="UTF-8" data-saveshortcut>

        {{ getCsrfInput() }}

        <input type="hidden" name="action" value="rest/authentications/save">
        <input type="hidden" name="redirect" value="rest/authentications">
        <input type="hidden" name="authenticationProviderHandle" value="{{ authenticationProvider.handle }}">

        <h2 class="first">Status</h2>

        <ul>
            <li>
                {% if authentication and authentication.token %}
                    <span class="status on"></span> {{ "Connected"|t }}
                {% else %}
                    <span class="status"></span><span class="light">{{ "Not Connected"|t }}</span>
                {% endif %}
            </li>
        </ul>


        {% if authentication and authentication.token %}
            <hr>

            <h2>Scopes</h2>

            <ul>
                {% for scope in authentication.allScopes %}
                    <label><input type="checkbox" name="scopes[]" value="{{ scope }}" checked="true" disabled="true" /> &nbsp;{{ scope }}</label>
                {% endfor %}
            </ul>
        {% else %}

            {% if availableScopes is defined and availableScopes|length > 0 %}
                <hr>
                <h2>Scopes</h2>

                {% if authentication and authentication.token %}
                    <p>{{ authenticationProvider.name }} is connected with the following scope:</p>
                {% endif %}

                <ul>
                    {% for scope in availableScopes %}
                        <li>
                            {% set disabled = false %}
                            {% set checked = false %}

                            {% if authentication %}

                                {% if authentication.token %}
                                    {% set disabled = true %}
                                {% endif %}

                                {% for authenticationScope in authentication.scopes %}
                                    {% if authenticationScope == scope %}
                                        {% set checked = true %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            <label><input type="checkbox" name="scopes[]" value="{{ scope }}"{{ checked ? ' checked="checked"' }}{{ disabled ? ' disabled="true"' }} /> &nbsp;{{ scope }}</label>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <hr>

            {% if availableScopes is defined and availableScopes|length > 0 %}
                <h2>{{ "Custom Scopes"|t }}</h2>
            {% else %}
                <h2>{{ "Scopes"|t }}</h2>
            {% endif %}

            <p>
                Scopes express the permissions you'll be authorized for when making requests.

                {% if authenticationProvider.scopeDocsUrl %}
                    <a href="{{ authenticationProvider.scopeDocsUrl }}" target="_blank">See available scopes for {{ authenticationProvider.name }}</a>
                {% endif %}
            </p>

            {% set queryRows = [] %}

            {% if authentication %}
                {% for scope in authentication.customScopes %}
                  {% set queryRows = queryRows|merge([{ scope: scope }]) %}
                {% endfor %}
            {% endif %}

            {{ forms.editableTableField({
              id: 'custom-scopes',
              rows: 4,
              textual: false,
              name: 'customScopes',
              addRowLabel : 'Add Scope',
              cols : {
                'scope' : {
                    'heading' : 'Scope',
                    'type'   : 'singleline'
                }
              },
              rows : queryRows
            }) }}

        {% endif %}

        <hr>


        <h2>{{ "Authorization Options"|t }}</h2>

        {% if authentication and authentication.token %}

            {% if authentication.customAuthorizationOptions|length > 0 %}
                <ul>
                    {% for authorizationOptionsKey, authorizationOptionsValue in authentication.customAuthorizationOptions %}
                        <li><strong>{{ authorizationOptionsKey }}:</strong> {{ authorizationOptionsValue }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% else %}

            {% set queryRows = [] %}

            {% if authentication %}
                {% for authorizationOptionKey, authorizationOptionValue in authentication.customAuthorizationOptions %}
                  {% set queryRows = queryRows|merge([{
                        authorizationOptionKey: authorizationOptionKey,
                        authorizationOptionValue: authorizationOptionValue
                  }]) %}
                {% endfor %}
            {% endif %}

            {{ forms.editableTableField({
              id: 'custom-authorizationOptions',
              rows: 4,
              textual: false,
              name: 'customAuthorizationOptions',
              addRowLabel : 'Add Authorization Option',
              cols : {
                'authorizationOptionKey' : {
                    'heading' : 'Key',
                    'type'   : 'singleline'
                },
                'authorizationOptionValue' : {
                    'heading' : 'Value',
                    'type'   : 'singleline'
                }
              },
              rows : queryRows
            }) }}

        {% endif %}


        <hr>

        <div class="buttons">
            {% if authentication and authentication.token %}
                <a class="btn" href="{{ actionUrl('rest/authentications/disconnect', { handle: authenticationProvider.handle }) }}">Disconnect</a>
            {% else %}
                <input type="submit" name="connect" class="btn submit" value="Connect" />
            {% endif %}
        </div>

    </form>

{% endset %}
