{% extends "_layouts/cp" %}

{% set title = api.name %}

{% set crumbs = [
    { label: "Rest"|t, url: url('rest') },
    { label: "APIs"|t, url: url('rest/apis') }
] %}

{% set content %}

    <form method="post" accept-charset="UTF-8" data-saveshortcut>

        {{ getCsrfInput() }}

        <input type="hidden" name="action" value="rest/apiAuthentications/save">
        <input type="hidden" name="apiHandle" value="{{ api.handle }}">

        <h2 class="first">API</h2>

        <ul>
            <li>
                {% if apiAuthentication and apiAuthentication.token %}
                    <span class="status on"></span> {{ "Connected"|t }}
                {% else %}
                    <span class="status"></span><span class="light">{{ "Not Connected"|t }}</span>
                {% endif %}
            </li>
        </ul>

        {% if api is defined %}

            <hr>
            <h2>API</h2>

            <ul>
                <li><strong>Name:</strong> {{ api.name }}</li>
                <li><strong>Version:</strong> {{ api.version }}</li>
                <li><strong>Base URL:</strong> {{ api.baseUrl }}</li>
            </ul>
        {% endif %}



        {% set scopes = api.availableScopes %}

        {% if scopes|length > 0 %}

            <h2>{{ "Scopes"|t }}</h2>

            {% if apiAuthentication and apiAuthentication.token %}
                <p>{{ api.name }} is connected with the following scope:</p>
            {% endif %}

            <ul>
                {% for scope in scopes %}
                    <li>
                        {% set disabled = false %}
                        {% set checked = false %}

                        {% if apiAuthentication %}

                            {% if apiAuthentication.token %}
                                {% set disabled = true %}
                            {% endif %}

                            {% for authenticationScope in apiAuthentication.scopes %}
                                {% if authenticationScope == scope %}
                                    {% set checked = true %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        <label><input type="checkbox" name="scopes[]" value="{{ scope }}"{{ checked ? ' checked="checked"' }}{{ disabled ? ' disabled="true"' }} /> &nbsp;{{ scope }}</label>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="buttons">
            {% if apiAuthentication and apiAuthentication.token %}
                <a class="btn" href="{{ actionUrl('rest/apis/disconnect', { handle: api.handle }) }}">Disconnect</a>
            {% else %}
                <input type="submit" class="btn submit" value="Connect" />
            {% endif %}
        </div>

    </form>

{% endset %}
