{% extends "rest/_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set title = "REST"|t %}

{% set selectedTab = 'apis' %}
{% set content %}

    <table id="apis" class="data fullwidth collapsible">
        <thead>
            <tr>
                <th></th>
                <th scope="col">{{ "Name"|t }}</th>
                <th scope="col">{{ "Handle"|t }}</th>
                <th scope="col">{{ "Status"|t }}</th>
            </tr>
        </thead>
        <tbody>

            {% for api in apis %}
                <tr>
                    <td class="thin">
                        <img src="{{ resourceUrl('rest/icons/'~api.handle~'.png') }}" width="32">
                    </td>
                    <td>
                        <strong>{{ api.name }}</strong>
                    </td>
                    <td class="light">
                        {{ api.handle }}
                    </td>
                    <td>
                        {% set authentication = craft.rest.getAuthenticationByHandle(api.handle) %}

                        {% if authentication %}

                            <span class="status enabled"></span>
                            Connected &nbsp;

                            <a class="btn small" href="{{ actionUrl('rest/disconnect', { handle: api.handle }) }}">Disconnect</a>

                        {% else %}

                            <span class="status"></span>
                            Not Connected &nbsp;

                            <a class="btn small" href="{{ actionUrl('rest/connect', { handle: api.handle }) }}">Connect</a>

                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>


{% endset %}
