{% extends "rest/_layout" %}

{% set selectedTab = 'apps' %}
{% set q = craft.request.param('q') %}

{% block main %}

    <h1>YouTube</h1>

    <form action="" method="post">

        <p>
            <input type="search" name="q" value="{{ q }}" placeholder="Search videos, tweets, repositories" class="form-control" />
        </p>

    </form>


    {% if q %}

        <h2>YouTube results for “{{ q }}”</h2>

        {% set response = craft.rest.get('searchVideos', { q: q }) %}

        {% if response.success %}

            {% set data = response.data %}
            {% set videos = data.items %}

            <div class="row">

                {% for video in videos %}
                    <div class="col-md-3 video">
                        <a href="http://www.youtube.com/watch?v={{ video.id.videoId }}" target="_blank">
                            <img class="img-rounded img-responsive" src="{{ video.snippet.thumbnails.medium.url }}" />
                        </a>
                    </div>
                {% endfor %}

            </div>

        {% else %}

            <p>
                <strong>An error occured:</strong>

                {% set data = response.data %}
                <pre>{{ dump(data) }}</pre>
            </p>

        {% endif %}

    {% endif %}

{% endblock %}
