{% extends "rest/_layout" %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>Sending a simple request</h1>

                <hr>

                <h3>Template</h3>

                <h3>Response</h3>

                {#

                {% set response = craft.rest.request.api('gmail').uri('users/me/messages').send() %}


                {% set response = craft.rest.request.api('googleanalytics').uri('management/accounts').send() %}

                {% set response = craft.rest.request.api('googledrive').uri('files').send() %}

                {% set response = craft.rest.request.api('googleplus').uri('people/me/activities/public').send() %}

                {% set response = craft.rest.request.api('bitbucket').uri('repositories').send() %}


                {% set response = craft.rest.request.api('flickr').query({ method: 'flickr.photos.getRecent' }).format('xml').send() %}

                {% set response = craft.rest.request.api('instagram').uri('users/self/feed').send() %}
                #}


                {% set response = craft.rest.request.api('googlecontacts').uri('contacts/default/full').query({ alt: 'json' }).send() %}

                {% if response.success %}

                    <pre>{{ dump(response) }}</pre>

                {% else %}
                    {% include 'rest/_error' with { response: response } %}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
