{% extends "rest/_layout" %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>Sending a saved request</h1>

                <hr>

                <h3>Setup</h3>

                <p>For this example to work you need to create a REST request in the control panel with the following options:</p>

                <ul>
                    <li><strong>Name:</strong> Dribbble Popular Shots</li>
                    <li><strong>Handle:</strong> dribbblePopularShots</li>
                    <li><strong>URL:</strong> http://api.dribbble.com/shots/popular</li>
                </ul>

                <h3>Template</h3>

                <pre>{{ "{% set response = craft.rest.request.handle('dribbblePopularShots').send() %}" }}</pre>

                <h3>Response</h3>
                {% set response = craft.rest.request.handle('dribbblePopularShots').send() %}

                {% if response.success %}

                    {% set data = response.data %}

                    <pre>{{ dump(data) }}</pre>

                {% else %}

                    <p>
                        <strong>An error occured:</strong>

                        {% set data = response.data %}
                        <pre>{{ dump(data) }}</pre>
                    </p>

                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
