{% extends "rest/_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set title = "REST"|t %}

{% set selectedTab = 'requests' %}
{% set content %}

    {% if requests|length > 0 %}
        <table id="requests" class="data fullwidth collapsible">
            <thead>
                <tr>
                    <th scope="col">{{ "Name"|t }}</th>
                    <th scope="col">{{ "Handle"|t }}</th>
                    <th scope="col">{{ "Authentication"|t }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                    <tr data-id="{{ request.id }}" data-name="{{ request.name }}">
                        <td><a href="{{ url('rest/requests/'~request.id) }}">{{ request.name }}</a></td>
                        <td class="light">{{ request.handle }}</td>
                        <td class="light">
                            {% if request.authentication and request.authentication.oauthProvider %}
                                {{ request.authentication.oauthProvider.name }}
                            {% else %}
                                —
                            {% endif %}
                        </td>
                        <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% set js %}
          new Craft.AdminTable({
              tableSelector: '#requests',
              noObjectsSelector: '#norequests',
              deleteAction: 'rest/requests/delete'
          });
        {% endset %}
        {% includeJs js %}
    {% endif %}

    <div class="buttons">
        <a href="{{ url('rest/requests/new') }}" class="btn submit add icon">New Request</a>
    </div>

{% endset %}
